{% extends "base.html"}
<!DOCTYPE html>
<html>
  <head>
    <title>Hardworking Ants IMDB website</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
    <h1>Welcome to my website!</h1>
    <p>This is a paragraph of text.</p>
  </body>
</html>

